/*css*/
body{
    width: 80%;
    height: 100%;
    margin: 50px auto;
}
ul li{
    float: left;
    margin: 20px;
    width: 150px;
    height: 150px;
    display: block;
    border: 1px solid #2943D7;
    vertical-align: middle;
    text-align: center;
    padding: 20px 20px ;
} 
.one{
    width: 96px;
    height: 48px;
    background: #eee;
    border-color: #2943D7;
    border-style: solid;
    border-width: 2px 2px 50px 2px;
    border-radius: 100%;
    position: relative;
    margin: 25px;
}

.one:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    background: #eee;
    border: 20px solid #2943D7;
    border-radius: 100%;
    width: 8px;
    height: 8px;
}
.one:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    background: #2A69FF;
    border: 20px solid #eee;
    border-radius:100%;
    width: 8px;
    height: 8px;
}
.triangle-topleft{
    width: 0;
    height: 0;
    border-bottom: 100px solid #78E976; 
    border-left: 100px solid transparent;
    transform: skew(25deg);
}
.star-six {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid #FFFF00;
    position: relative;
    margin: 10px 25px;
}
.star-six:after {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 100px solid #FFFF00;
    position: absolute;
    content: "";
    top: 30px;
    left: -50px;
}
.parallelogram{
    width: 120px;
    height: 80px;
    left: 10px;
    top: 20px;
    position: relative;
    transform: skew(25deg);
    background: #18A340;
}
.trapezoid{
    border-bottom: 80px solid #00FFFF;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    height: 0;
    width: 80px;
    position: relative;
    margin: 20px 0;
}
.star-five{
    margin: 50px 20px;
    position: relative;
    display: block;
    color: red;
    width: 0px;
    height: 0px;
    border-right: 50px solid transparent;
    border-bottom: 30px solid red;
    border-left: 50px solid transparent;
    -moz-transform: rotate(35deg);
    -webkit-transform: rotate(35deg);
    -ms-transform: rotate(35deg);
    -o-transform: rotate(35deg);
}
.star-five:before{
    border-bottom: 40px solid red;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    position: absolute;
    height: 0;
    width: 0;
    top: -30px;
    left: -29px;
    display: block;
    content: '';
    -webkit-transform: rotate(-35deg);
    -moz-transform: rotate(-35deg);
    -ms-transform: rotate(-35deg);
    -o-transform: rotate(0-35deg);
}
.star-five:after{
    position: absolute;
    display: block;
    color: red;
    top: 0px;
    left: -50px;
    width: 0px;
    height: 0px;
    border-right: 50px solid transparent;
    border-bottom: 30px solid red;
    border-left: 50px solid transparent;
    -webkit-transform: rotate(-70deg);
    -moz-transform: rotate(-70deg);
    -ms-transform: rotate(-70deg);
    -o-transform: rotate(-70deg);
    content: '';
}
.pentagon{
    position: relative;
    margin: 50px 20px;
    width: 54px;
    border-width: 50px 18px 0;
    border-style: solid;
    border-color: #00FF00 transparent;
}
.pentagon:before{
    content: "";
    position: absolute;
    width: 0; 
    height: 0;
    top: -85px;
    left: -18px;
    border-style: solid;
    border-width: 0 45px 35px;
    border-color: transparent transparent #00FF00;
}
.hexagon{
    margin: 50px 20px;
    width: 100px;
    height: 55px;
    background: #FF7F00;
    position: relative;
}
.hexagon:before{
    content: "";
    position: absolute;
    top: -25px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 25px solid #FF7F00;
}
.hexagon:after{
    content: "";
    position: absolute;
    bottom: -25px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 25px solid #FF7F00;
}
.heart{
    position: relative;
    margin: 40px 20px;
    width: 100px;
    height: 90px; 
}
.heart:before,.heart:after{
    position: absolute;
    content: "";
    left: 50px;
    top: 0;
    width: 50px;
    height: 80px;
    background: red;
    border-radius: 50px 50px 0 0;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
}
.heart:after{
    left: 0;
    transform: rotate(45deg);
    transform-origin: 100% 100%;
}
.infinity{
    position: relative;
    margin: 40px 0px;
    width: 165px;
    height: 60px;
}
.infinity:before,
.infinity:after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    border: 20px solid #7F007F;
    border-radius: 50px 50px 0 50px;
    transform: rotate(-45deg);
}
.infinity:after{
    left: auto;
    right: 0;
    border-radius: 50px 50px 50px 0;
    transform: rotate(45deg);
}
.egg{
    position: relative;
    margin: 30px;
    display: block;
    width: 80px;
    height: 110px;
    background-color: #DDE4C6;
    border-radius: 50%;
}
.talkbubble{
    width: 120px;
    height: 80px;
    background: #9DE4AA;
    position: relative;
    border-radius: 10px;
    margin: 40px 20px;
}
.talkbubble:before{
    content: "";
    position: absolute;
    right: 100%;
    top: 26px;
    width: 0;
    height: 0;
    border-top: 13px solid transparent;
    border-right: 26px solid #9DE4AA;
    border-bottom: 13px solid transparent;
}
.burst-8{
    background: #996633;
    margin: 30px;
    width: 80px;
    height: 80px;
    position: relative;
    text-align: center;
    transform: rotate(29deg);
}
.burst-8:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: #996633; 
    height: 80px;
    width: 80px;
    transform: rotate(135deg);
}
.diamond{
    border-width: 0 25px 25px 25px;
    border-style: solid;
    border-color: transparent transparent #DDEBF8 transparent;
    height: 0;
    width: 50px;
    position: relative;
    margin: 30px;
}
.diamond:after{
    content: "";
    position: absolute;
    top: 25px;
    left: -25px;
    width: 0;
    height: 0;
    border-width: 70px 50px 0 50px;
    border-style: solid;
    border-color: #DDEBF8 transparent transparent transparent;
}
.flag-cn{
    width: 280px;
    height: 180px;
    background: red;
}
.star-sm{
    position: relative;
    display: block;
    color: yellow;
    margin-top: 30px;
    width: 0px;
    height: 0px;
    border-right: 35px solid transparent;
    border-bottom: 20px solid yellow;
    border-left: 35px solid transparent;
    -moz-transform: rotate(35deg);
    -webkit-transform: rotate(35deg);
    -ms-transform: rotate(35deg);
    -o-transform: rotate(35deg);
}
.star-sm:before{
    border-bottom: 30px solid yellow;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    position: absolute;
    height: 0;
    width: 0;
    top: -20px;
    left: -19px;
    display: block;
    content: '';
    -webkit-transform: rotate(-35deg);
    -moz-transform: rotate(-35deg);
    -ms-transform: rotate(-35deg);
    -o-transform: rotate(0-35deg);
}
.star-sm:after{
    position: absolute;
    display: block;
    color: yellow;
    top: 2px;
    left: -36px;
    width: 0px;
    height: 0px;
    border-right: 35px solid transparent;
    border-bottom: 20px solid yellow;
    border-left: 35px solid transparent;
    -webkit-transform: rotate(-70deg);
    -moz-transform: rotate(-70deg);
    -ms-transform: rotate(-70deg);
    -o-transform: rotate(-70deg);
    content: '';
}
/*one*/
.star-one{
    position: relative;
    display: block;
    color: yellow;
    margin-left: 75px;
    margin-top: -50px;
    width: 0px;
    height: 0px;
    border-right: 9px solid transparent;
    border-bottom: 6px solid yellow;
    border-left: 9px solid transparent;
    -moz-transform: rotate(35deg);
    -webkit-transform: rotate(35deg);
    -ms-transform: rotate(35deg);
    -o-transform: rotate(35deg);
}
.star-one:before{
    border-bottom: 9px solid yellow;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    position: absolute;
    height: 0;
    width: 0;
    top: -5px;
    left: -6px;
    display: block;
    content: '';
    -webkit-transform: rotate(-35deg);
    -moz-transform: rotate(-35deg);
    -ms-transform: rotate(-35deg);
    -o-transform: rotate(0-35deg);
}
.star-one:after{
    position: absolute;
    display: block;
    color: yellow;
    top: 0px;
    left: -9.5px;
    width: 0px;
    height: 0px;
    border-right: 9px solid transparent;
    border-bottom: 6px solid yellow;
    border-left: 9px solid transparent;
    -webkit-transform: rotate(-70deg);
    -moz-transform: rotate(-70deg);
    -ms-transform: rotate(-70deg);
    -o-transform: rotate(-70deg);
    content: '';
}
/*two*/
.star-two{
    position: relative;
    display: block;
    color: yellow;
    margin-left: 85px;
    margin-top: 20px;
    width: 0px;
    height: 0px;
    border-right: 9px solid transparent;
    border-bottom: 6px solid yellow;
    border-left: 9px solid transparent;
    -moz-transform: rotate(35deg);
    -webkit-transform: rotate(35deg);
    -ms-transform: rotate(35deg);
    -o-transform: rotate(35deg);
}
.star-two:before{
    border-bottom: 9px solid yellow;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    position: absolute;
    height: 0;
    width: 0;
    top: -5px;
    left: -6px;
    display: block;
    content: '';
    -webkit-transform: rotate(-35deg);
    -moz-transform: rotate(-35deg);
    -ms-transform: rotate(-35deg);
    -o-transform: rotate(0-35deg);
}
.star-two:after{
    position: absolute;
    display: block;
    color: yellow;
    top: 0px;
    left: -9.5px;
    width: 0px;
    height: 0px;
    border-right: 9px solid transparent;
    border-bottom: 6px solid yellow;
    border-left: 9px solid transparent;
    -webkit-transform: rotate(-70deg);
    -moz-transform: rotate(-70deg);
    -ms-transform: rotate(-70deg);
    -o-transform: rotate(-70deg);
    content: '';
}
/*three*/
.star-three{
    position: relative;
    display: block;
    color: yellow;
    margin-left: 85px;
    margin-top: 20px;
    width: 0px;
    height: 0px;
    border-right: 9px solid transparent;
    border-bottom: 6px solid yellow;
    border-left: 9px solid transparent;
    -moz-transform: rotate(35deg);
    -webkit-transform: rotate(35deg);
    -ms-transform: rotate(35deg);
    -o-transform: rotate(35deg);
}
.star-three:before{
    border-bottom: 9px solid yellow;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    position: absolute;
    height: 0;
    width: 0;
    top: -5px;
    left: -6px;
    display: block;
    content: '';
    -webkit-transform: rotate(-35deg);
    -moz-transform: rotate(-35deg);
    -ms-transform: rotate(-35deg);
    -o-transform: rotate(0-35deg);
}
.star-three:after{
    position: absolute;
    display: block;
    color: yellow;
    top: 0px;
    left: -9.5px;
    width: 0px;
    height: 0px;
    border-right: 9px solid transparent;
    border-bottom: 6px solid yellow;
    border-left: 9px solid transparent;
    -webkit-transform: rotate(-70deg);
    -moz-transform: rotate(-70deg);
    -ms-transform: rotate(-70deg);
    -o-transform: rotate(-70deg);
    content: '';
}
/*four*/
.star-four{
    position: relative;
    display: block;
    color: yellow;
    margin-left: 70px;
    margin-top: 20px;
    width: 0px;
    height: 0px;
    border-right: 9px solid transparent;
    border-bottom: 6px solid yellow;
    border-left: 9px solid transparent;
    -moz-transform: rotate(35deg);
    -webkit-transform: rotate(35deg);
    -ms-transform: rotate(35deg);
    -o-transform: rotate(35deg);
}
.star-four:before{
    border-bottom: 9px solid yellow;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    position: absolute;
    height: 0;
    width: 0;
    top: -5px;
    left: -6px;
    display: block;
    content: '';
    -webkit-transform: rotate(-35deg);
    -moz-transform: rotate(-35deg);
    -ms-transform: rotate(-35deg);
    -o-transform: rotate(0-35deg);
}
.star-four:after{
    position: absolute;
    display: block;
    color: yellow;
    top: 0px;
    left: -9.5px;
    width: 0px;
    height: 0px;
    border-right: 9px solid transparent;
    border-bottom: 6px solid yellow;
    border-left: 9px solid transparent;
    -webkit-transform: rotate(-70deg);
    -moz-transform: rotate(-70deg);
    -ms-transform: rotate(-70deg);
    -o-transform: rotate(-70deg);
    content: '';
}